# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.tar.gz

# Environments
.env
.venv/
env/
venv/
ENV/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# Flask
instance/
.webassets-cache

# pytest
.pytest_cache/